Adafruit_Blinka==8.25.0
adafruit_circuitpython_as726x==2.0.17
Django==4.2.7
django-cors-headers==4.3.1
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.1
pygame==2.5.2
pytz==2024.1
RPi.GPIO==0.7.1
rpimotorlib==3.2
scikit-learn==1.4.0
setuptools==66.1.1
simple_pid==2.0.0
